<div class="container-fluid h-100 row mx-auto">
    <!-- Number bars -->
    <div class="col-lg-8 row h-75 justify-content-center mx-auto my-auto">
        <app-number-bar *ngFor="let i of arrayToSort" [height]="i" [color]="primaryColor"></app-number-bar>
    </div>

    <!-- Menu -->
    <div class="col-lg-4 h-75 mx-auto my-auto">
        <mat-card class="w-75 h-100 mx-auto text-center">
            <h3>Menu</h3>
            <mat-card-actions>
                <mat-form-field class="w-75">
                    <mat-label>Select a sorting algorithem</mat-label>
                    <mat-select [disabled]="!isFinished" [(value)]="selected">
                        <mat-option value="mergeSort">Merge Sort</mat-option>
                        <mat-option value="quickSort">Quick Sort</mat-option>
                        <mat-option value="bubbleSort">Bubble Sort</mat-option>
                        <mat-option value="insertionSort">Insertion Sort</mat-option>
                        <mat-option value="selectionSort">Selection Sort</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="row mx-auto my-1 justify-content-center">
                    <span>Delay <mat-slider min='1' max="100" value="1" [disabled]="!isFinished" (change)="onChangeDelay($event)"></mat-slider>
                    </span>
                </div>
                <div class="row mx-auto my-1 justify-content-center">
                    <button class="w-75 h-50" mat-raised-button color="accent" [disabled]="!isFinished" (click)="resetArray()">Reset</button>
                </div>
                <div class="row mx-auto my-1 justify-content-center">
                    <button class="w-75 h-50" mat-raised-button color="accent" [disabled]="!isFinished" (click)="onStart()">Start</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>